name: Integration tests

on:
  push:
    branches:
    paths:
      - src/**
  pull_request:
    branches:
    paths:
      - src/**

env:
  SA_PASSWORD: 1tsJusT@S@mpleP@ssword!

jobs:
  run_integration_tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    
    services:
      sql-server:
        image: mcr.microsoft.com/mssql/server
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: Y
          MSSQL_SA_PASSWORD: ${{ env.SA_PASSWORD }}
    
    steps:
      - name: Add tests env
        run: |
          echo "SqlServer__Password=$SA_PASSWORD" >> $GITHUB_ENV
        
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7

      - name: Restore dependencies
        run: |
          cd src
          dotnet restore
          echo "✅ Project restored"

      - name: Run tests
        run: |
          cd src/IntegrationTests
          dotnet test --no-restore
          echo "✅ Tests executed"